<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Find your free ads</h1>
    <p class="lead">Come on in to view free ads... All you need to do is sign up if you want to create free ads or click the Search button to start searching products</p>
    <div class="text-center">
      <button *ngIf="!loggedIn()" class="btn btn-primary btn-lg mr-2" (click)="showRegister()">Register</button>
      <button class="btn btn-info btn-lg" [routerLink]="['/ads-list']">See Available Ads</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>