<!-- <p>user-management works!</p> -->

<div class="row mt-2">
    <div class="col-xs-12 col-lg-12">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="text-align: left;">
              <!-- <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container> -->
              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Username </th>
                <td mat-cell *matCellDef="let element"> {{element.username}} </td>
              </ng-container>
              <ng-container matColumnDef="roles">
                <th mat-header-cell *matHeaderCellDef> Active Roles </th>
                <td mat-cell *matCellDef="let element"> {{element.roles}} </td>
              </ng-container>
              <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef> City </th>
                <td mat-cell *matCellDef="let element"> {{element.city}} </td>
              </ng-container>
              <ng-container matColumnDef="edit-roles">
                <th mat-header-cell *matHeaderCellDef> Edit Roles </th>
                <td mat-cell *matCellDef="let row"> <button mat-button (click)="openDialog(row)">Edit Roles</button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <!-- <tr>
                <th style="width: 30%;">Username</th>
                <th style="width: 40%;">Active Roles</th>
                <th style="width: 30%;"></th>
            </tr>
            <tr *ngFor="let user of users">
                <td>{{user.username}}</td>
                <td>{{user.roles}}</td>
                <td><button class="btn btn-info">Edit Roles</button></td>
            </tr> -->
        </table>
    </div>
</div>

