<form #searchForm="ngForm" class="form-inline" (ngSubmit)="searchClassifiedAds()">
  <div class="row">
    <div class="">
      <div class="form-group mb-4 col-sm-3">
        <select class="form-control" name="city" [(ngModel)]="searchQueryParametars.city">
          <option selected value="Waterford">Waterford</option>
          <option value="Bancroft">Bancroft</option>
          <option value="Alamo">Alamo</option>
          <option value="Martinez">Martinez</option>
        </select>
      </div>
    </div>
    <div class="">
      <div class="form-group mb-4 col-sm-3">
        <select class="form-control" name="category" [(ngModel)]="searchQueryParametars.category">
          <option selected value="PC">PC</option>
          <option value="Lap Top">Lap Top</option>
          <option value="TV">TV</option>
          <option value="Phone">Phone</option>
        </select>
      </div>
    </div>
    <div class="">
      <div class="form-group mb-4 col-sm-3">
        <input class="form-control" type="text" name="query" class="form-control mr-sm-2" placeholder="Search Query"
          [(ngModel)]="searchQueryParametars.query" 
          (keyup)="onKey($event)"
          required >
      </div>
    </div>
    <div class="">
      <div class="form-group mb-4 col-sm-3">
        <input class="form-control" type="submit" class="btn btn-success">
      </div>
    </div>
  </div>
</form>