<form #searchForm="ngForm" class="form-inline" (ngSubmit)="searchClassifiedAds()">
  <div class="row">
      <div class="form-group mb-4 mr-4">
        <select class="form-control" name="city" [(ngModel)]="searchQueryParametars.city">
          <option *ngFor="let city of cities" 
            value="{{city.cityValue}}" 
            [selected]="searchQueryParametars.city==city.cityName ? true : null">
            {{city.cityName}}
          </option>
        </select>
    </div>
    <div class="">
      <div class="form-group mb-4 mr-4">
        <select class="form-control" name="category" [(ngModel)]="searchQueryParametars.category">
          <option *ngFor="let category of categories" 
            value="{{category.categoryValue}}" 
            [selected]="searchQueryParametars.category == category.categoryName ? true : null">
            {{category.categoryName}}
          </option>
        </select>
      </div>
    </div>
    <div class="">
      <div class="form-group mb-4 mr-4">
        <input class="form-control" type="text" name="query" class="form-control mr-sm-2" placeholder="Текст за пребарување"
          [(ngModel)]="searchQueryParametars.query" (keyup)="onKey($event)" required>
      </div>
    </div>
    <div class="">
      <div class="form-group mb-4">
        <input class="form-control" type="submit" class="btn btn-success" value="Пребарување">
      </div>
    </div>
  </div>
</form>