<div class="container mt-4">
  <div class="row">
    <div class="col-sm-6">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <p class="card-title text-left mb-1 mt-4">
            <strong>Наслов:</strong>
            {{classifiedAdsDetail.title}}
          </p>
          <p class="card-text text-left mt-2">
              <!-- <strong>Description:</strong> -->
              <strong>Опис:</strong>
              {{classifiedAdsDetail.description}}
            </p>
          <p class="card-text text-left mt-2">
              <!-- <strong>City:</strong> -->
              <strong>Град:</strong>
              {{classifiedAdsDetail.city}}
            </p>
          <p class="card-text text-left mt-2">
              <!-- <strong>Category:</strong> -->
              <strong>Категорија:</strong>
              {{classifiedAdsDetail.category}}
            </p>
          <!--<p class="card-text text-left mt-2">
               <strong>Date Added:</strong> 
              <strong>Category:</strong>
              {{classifiedAdsDetail.dataAdded}}
            </p> -->
           <!-- <p class="card-text text-left mt-2">
              <strong>Valid To:</strong> 
              {{classifiedAdsDetail.validTo}}
            </p> -->
        </div>
        <div class="card-footer">
          <!-- <p><strong>Contact Informaton:</strong></p> -->
          <p><strong>Информации за контакт:</strong></p>
          <!-- <strong>Email:</strong> -->
          <strong>Електронска пошта:</strong>
          <p class="card-text text-left">{{classifiedAdsDetail.email}}</p>
          <!-- <strong>Phone:</strong> -->
          <strong>Телефон:</strong>
          <p class="card-text text-left">{{classifiedAdsDetail.phone}}</p>
        </div>
      </div>
    </div>
  </div>
</div>