<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Регистрација</h2>
  <hr />

  <div class="form-group">
    <strong>Емаил</strong>
    <input
      [ngClass]="{
        'is-invalid':
          (registerForm.get('email').errors &&
          registerForm.get('email').touched) ||
          (submited && registerForm.get('email').errors)
      }"
      type="text"
      class="form-control"
      formControlName="email"
      placeholder="Емаил"
    />
    <div class="invalid-feedback">Внесете Емаил адреса</div>
  </div>

  <div class="form-group">
    <strong>Корисничко име</strong>
    <input
      [ngClass]="{
        'is-invalid':
          (registerForm.get('username').errors &&
          registerForm.get('username').touched) ||
          (submited && registerForm.get('username').errors)
      }"
      type="text"
      class="form-control"
      formControlName="username"
      placeholder="Корисничко име"
    />
    <div class="invalid-feedback">Изберете корисничко име</div>
  </div>
  <div class="form-group">
    <strong>Град</strong>
    <select
      class="form-control"
      formControlName="city"
      [ngClass]="{
        'is-invalid':
          (registerForm.get('city').errors && registerForm.get('city').touched) ||
          (submited && registerForm.get('city').errors)
      }"
    >
      <option *ngFor="let city of cities" value="{{ city.cityValue }}">
        {{ city.cityName }}
      </option>
    </select>
    <div class="invalid-feedback">Градот е задолжително поле
    </div>
  </div>
  <div class="form-group">
    <strong>Лозинка</strong>
    <input
      [ngClass]="{
        'is-invalid':
          (registerForm.get('password').errors &&
          registerForm.get('password').touched) ||
          (submited && registerForm.get('password').errors)
      }"
      type="password"
      class="form-control"
      formControlName="password"
      placeholder="Лозинка"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        (registerForm.get('password').hasError('required') &&
        registerForm.get('password').touched) ||
        (submited && registerForm.get('password').hasError('required'))
      "
    >
      Лозинка е задолжително поле
    </div>
    <div
      class="invalid-feedback"
      *ngIf="
        (registerForm.get('password').hasError('minlength') &&
        registerForm.get('password').touched)
      "
    >
      Лозинката мора да биде составена од најмалце 8 карактери
    </div>
    <div
      class="invalid-feedback"
      *ngIf="
        (registerForm.get('password').hasError('maxlength') &&
        registerForm.get('password').touched)
      "
    >
      Лозинката не смее да надмине 20 карактери
    </div>
  </div>
  <div class="form-group">
    <strong>Потврди лозинка</strong>
    <input
      [ngClass]="{
        'is-invalid':
          (registerForm.get('confirmPassword').errors &&
          registerForm.get('confirmPassword').touched
          || registerForm.get('confirmPassword').touched &&
          registerForm.hasError('mismatch'))
      }"
      type="password"
      class="form-control"
      formControlName="confirmPassword"
      placeholder="Лозинка"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        (registerForm.get('confirmPassword').hasError('required') &&
        registerForm.get('confirmPassword').touched) ||
        (submited && registerForm.get('confirmPassword').hasError('required'))
      "
    >
      Потврди лозинка е задолжително поле
    </div>
    <div
      class="invalid-feedback"
      *ngIf="
        (registerForm.hasError('mismatch') &&
        registerForm.get('password').touched)
      "
    >
      Двете лозинки мора да бидат исти
    </div>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit">Регистрација</button>
    <button class="btn btn-default" type="button" (click)="cancel()">
      Не сакам да се регистрирам
    </button>
  </div>
</form>
